{% extends "base.twig" %}
{% set headerImage = entry.headerImage.one().url|default('http://placeimg.com/640/480/tech') %}

{% block content %}
	<div class="landing-image" style="background-image: url({{headerImage}})">
		<div class="content">
			<h1>{{entry.header}}</h1>
			<div class="buttons">
				{% for onelink in entry.headerLinks %}
					<a class="outline-btn" href="{{onelink.linkUrl}}">{{onelink.linkText}}</a>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="pt-10 pb-10">
		<div class="lg-container">
			<div class="row">
				<div class="col-12">
					{% if entry.subheader1 != '' %}
						<h4 class="small-heading">{{entry.subheader1}}</h4>
					{% endif %}
				</div>
				{% set counter = 50 %}
				{% for onelink in entry.textLinks %}
					<div class="col-12 col-md-4 col-lg-4">
						<div class="text aos-init aos-animate" data-aos="fade-up" data-aos-delay="{{counter}}">
							<h1>
								{{onelink.linkContent}}
							</h1>
						</div>
					</div>
					{% set counter = counter + 100 %}
				{% endfor %}
			</div>
		</div>
	</div>

    {% include('parts/case_studies_section') with {'case_studies': entry.caseStudiesToShow.all() } %}

	{% include('parts/services_section') with {'services': entry.servicesToShow.all() } %}

	{% include('parts/clients_section') with {
		'header': entry.clientsSectionHeader,
		'content': entry.clientsSectionText,
		'logos': entry.clientsSectionLogos.all() 
	} %}

	{% include('parts/content_blocks') with {'content_blocks':entry.contentBlock.all() } %}

	{% include('parts/process_section') with {
		'header': entry.processSectionHeader,
		'image': entry.processSectionImage.one().url,
		'steps': entry.processSteps
	} %}

{% endblock %}
