<div class="pt-10 pb-10 grey">
	<div class="lg-container">
		<div class="row align-items-center">
			<div class="col-12">
				<h2 class="heading left">{{header}}</h2>
			</div>
			<div class="col-12 col-lg-6">
				<div class="side-image" style="background-image: url({{image}})"></div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="accordion-wrapper">
					<ul class="accordion">
                        {% set counter = 1 %}
                        {% for step in steps %}
                            <li>
                                <a href="#">
                                    <h3>0{{counter}}</h3>
                                    <h3>{{step.stepHeader}}</h3>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <p>{{step.stepText}}</p>
                                    </li>
                                </ul>
                            </li>
                            {% set counter = counter + 1 %}
                        {% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
